@layer wui-elements {
  .wui-button-group {
    display: inline-flex;
  }
  .wui-button-group > .wui-button {
    border-radius: 0;
    border-inline-end-width: 0;
  }
  .wui-button-group > .wui-button:first-child {
    border-start-start-radius: var(--wui-shape-radius-md);
    border-end-start-radius: var(--wui-shape-radius-md);
  }
  .wui-button-group > .wui-button:last-child {
    border-start-end-radius: var(--wui-shape-radius-md);
    border-end-end-radius: var(--wui-shape-radius-md);
    border-inline-end-width: var(--wui-shape-border-width-medium);
  }
}
