/* packages/css/src/elements/code.css */
@layer civ-elements {
  .civ-code {
    font-family: var(--civ-font-family-mono);
    font-size: var(--civ-font-size-sm);
    background-color: var(--civ-color-muted);
    padding-inline: var(--civ-spacing-1);
    padding-block: var(--civ-spacing-0\.5);
    border-radius: var(--civ-shape-radius-sm);
  }

  .civ-code-block {
    font-family: var(--civ-font-family-mono);
    font-size: var(--civ-font-size-sm);
    background-color: var(--civ-color-muted);
    padding: var(--civ-spacing-4);
    border-radius: var(--civ-shape-radius-md);
    overflow-x: auto;
    line-height: var(--civ-font-lineHeight-normal);
  }

  .civ-code-block > code {
    background: none;
    padding: 0;
    border-radius: 0;
    font-size: inherit;
  }
}
