/* packages/css/src/elements/kbd.css */
@layer civ-elements {
  .civ-kbd {
    font-family: var(--civ-font-family-mono);
    font-size: var(--civ-font-size-xs);
    border: var(--civ-shape-border-width-thin) solid var(--civ-color-border);
    background-color: var(--civ-color-muted);
    padding-inline: var(--civ-spacing-1\.5);
    padding-block: var(--civ-spacing-0\.5);
    border-radius: var(--civ-shape-radius-sm);
    color: var(--civ-color-foreground);
    display: inline-block;
    line-height: var(--civ-font-lineHeight-tight);
  }
}
